amyloid_beta/server_ortho_seq_results/gk_alberts_second0/amyloid_gk_nostop.npz filter=lfs diff=lfs merge=lfs -text
amyloid_beta/server_ortho_seq_results/gk_hydrophobicity7_second0/amyloid_gk_nostop.npz filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
